name: Flutter drive Android
on: push
jobs:
  drive_android:
    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [21]
        target: [default]
      fail-fast: true
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: stable
      - name: Run Flutter Driver basic tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          arch: x86_64
          script: yes | flutter doctor --android-licenses \
            && cd example \
            && flutter drive -d emulator-5554 --driver=test_driver/main_app.dart --target=test/basic_example_test.dart \
            && flutter drive -d emulator-5554 --driver=test_driver/main_app.dart --target=test/network_example_test.dart \
            && flutter drive -d emulator-5554 --driver=test_driver/main_app.dart --target=test/namespace_example_test.dart